@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Epilogue:wght@760&display=swap');

* {
    box-sizing: border-box;

}

body {
    background: radial-gradient(#1f3756, #141539);
    font-family: 'Barlow Semi Condensed';
}

header {
    width: 45%;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #606e85;
    padding: 20px;
    border-radius: 20px;
}

#inicio {
    width: 50%;
}

#score {
    background: white;
    font-size: 15px;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #2a46c0;
    padding-top: 15px;
    box-shadow: 3px 3px 3px  #141539;
}


#contador {
    font-size: 60px;
    letter-spacing: 0px;
    color: #606e85;
}

section {
    text-align: center;
    margin-top: 20px;
}

#elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#img-fundo {
    position: absolute;
    right: 0;
    left: 0;
    width: 40%;
    margin: auto;
}

#fundo {
    width: 60%;
    margin-top: 17%;
}

#div-papel {
    text-align: end;
}

#div-papel, #div-tesoura{
    width: 45%;
    margin-bottom: 6%;
    position: relative;
}

#div-tesoura {
    text-align: initial;
}

#div-pedra {
    width: 100%;
    position: relative;
}

section div img {
    width: 30%;
}

#div-papel img, #div-tesoura img{
    background: white;
    padding: 7%;
    border-radius: 50%;
    border: 15px solid hsl(230, 89%, 62%)
}

#div-tesoura img {
    border: 15px solid hsl(40, 84%, 53%)
}

#logo-pedra {
    width: 14%;
    background: white;
    padding: 3%;
    border-radius: 50%;
    border: 15px solid hsl(349, 70%, 56%);
} 





