@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&family=Epilogue:wght@760&display=swap');

* {
    box-sizing: border-box;

}

body {
    background: radial-gradient(#1f3756, #141539);
    font-family: 'Barlow Semi Condensed';
}

header {
    width: 45%;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #606e85;
    padding: 20px;
    border-radius: 20px;
}

#inicio {
    width: 50%;
}

#score {
    background: white;
    font-size: 15px;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #2a46c0;
    padding-top: 15px;
    box-shadow: 3px 3px 3px  #141539;
}


#contador {
    font-size: 60px;
    letter-spacing: 0px;
    color: #606e85;
}

#principal {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#img-fundo {
    position: absolute;
    right: 0;
    left: 0;
    width: 40%;
    margin: auto;
}

#fundo {
    width: 60%;
    margin-top: 17%;
}

#div-papel {
    text-align: end;
}

#div-papel, #div-tesoura{
    width: 45%;
    margin-bottom: 6%;
    position: relative;
}

#div-tesoura {
    text-align: initial;
}

#div-pedra {
    width: 100%;
    position: relative;
}

.papel, .tesoura , .pedra{
    background: #dddddd;
    padding: 5%;
    border-radius: 50%;
    border: 1.8vmax solid hsl(230, 89%, 62%);
    box-shadow: inset 0px 9px 0px 0px rgb(0 0 0 / 17%);
}

#div-tesoura::after {
    left: 0;
}

#logo-pedra {
    width: 12.5%;
}

#logo-pedra {
    background: #dddddd;
    padding: 3%;
    border-radius: 50%;
    border: 1.8vmax solid hsl(349, 70%, 56%);
    box-shadow: inset 0px 9px 0px 0px rgb(0 0 0 / 17%);
} 

#div-pedra::after {
    width: 14%;
    left: 0;
    margin: auto;
}

.tesoura {
    border: 1.8vmax solid hsl(40, 84%, 53%)
}

.pedra {
    background: white;
    padding: 3%;
    border-radius: 50%;
    border: 1.8vmax solid hsl(349, 70%, 56%);
    box-shadow: inset 0px 9px 0px 0px rgb(0 0 0 / 17%);
}

#botao-regras {
    width: 8em;
    background: #161b3e;
    color: #dddddd;
    font-weight: 600;
    border: 2px solid #adaaaa;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 3em;
    float: right;
    margin-right: 3%;
}

#botao-regras:hover {
    cursor: pointer;
}

#modal {
    display: none;
    margin: auto;
    width: 34%;
    height: 30vmax;
    text-align: initial;
    font-size: 32px;
    padding: 1% 4%;
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8%;
}
.icone1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 6%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5a6270;
}

#icone-fechar {
    width: auto;
}

#icone-fechar:hover {
    cursor: pointer;
    filter: brightness(0);
}


#icone-regras{
    width: 60%;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

#layout-desafio {
    display: none;
    justify-content: center;
    margin-top: 60px;
}

section div p {
    text-align: center;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#jogador, #cpu {
    width: 30%;
    text-align: center;
}

.fundosEscolhas {
    margin-top: 55px;
    border-radius: 50%;
    padding: 10%;
    width: 50%;
}

.fundosEscolhas::before{
    content: '';
    top: 4vmax;
    position: relative;
    border-radius: 50%;
    border: 6vmax solid #1e1d1d78;
}

#cpu img {
    transition:all 1s;
}


